<a href="https://colab.research.google.com/github/Pinky2207/CE156---An-Approachable-Introduction-to-Programming/blob/main/Lab06ProgrammingPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = {1, 5, 2, 7}

In [2]:
s.add(12)
s.remove(5)

In [3]:
print(s)

{1, 2, 7, 12}

In [4]:
s.discard(13)
print(s)

{1, 2, 7, 12}

In [5]:
s.discard(12)
print(s)

{1, 2, 7}

In [6]:
a = {1,2,3,4,5}
l1 = []
for i in a:
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4]

In [7]:
gender = {'pinky' : 'Female', 'hrishi':'Male', 'puja':'Female'}
print(gender)

{'pinky': 'Female', 'hrishi': 'Male', 'puja': 'Female'}

In [8]:
ages = {'bart':(15,12), 'lisa':13,'homer':50 }
print(ages)

{'bart': (15, 12), 'lisa': 13, 'homer': 50}

In [9]:
names = {}
names [1] = 'Shiro'
names [2] = 'Ramnath mehta'
print(names)

{1: 'Shiro', 2: 'Ramnath mehta'}

In [10]:
my_dict = { 'bill':7,
'rich':15 }
print(my_dict['bill'])
my_dict['bill'] = 80
print(my_dict['bill'])

7
80

In [11]:
def count_letters(sequence):
    aCounter = {}
    
    for letter in sequence:
        if letter not in aCounter:
            aCounter[letter] = 1
        else:
            aCounter[letter] += 1
    
    return aCounter
    
sequence =['d','e','d','e']

In [12]:
count_letters(sequence)

{'d': 2, 'e': 2}

Write a method which takes as an argument a sequence of characters (which may be a list, a tuple or a string) and returns a dictionary in which the keys are the letters in the sequence and the values are the occurrence count for each letter. Any nonletter should be ignored

In [13]:
def icount_letters(sequence):
    aCounter = {}
    
    for key, value in sequence.items():
        if value not in aCounter:
            aCounter[value] = [key]
        else:
            aCounter[value].append(key)
    
    return aCounter

In [14]:
sequence = { 'a':1, 'b' :2, 'c':3, 'd':4, 'e':1, 'f': 1}

In [15]:
icount_letters(sequence)

{1: ['a', 'e', 'f'], 2: ['b'], 3: ['c'], 4: ['d']}