<a href="https://colab.research.google.com/github/Pinky2207/CE156---An-Approachable-Introduction-to-Programming/blob/main/Lab06ProgrammingPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = {1, 5, 2, 7}

In [ ]:
s.add(12)
s.remove(5)

In [ ]:
print(s)

{1, 2, 7, 12}

In [ ]:
s.discard(13)
print(s)

{1, 2, 7, 12}

In [ ]:
s.discard(12)
print(s)

{1, 2, 7}

In [ ]:
a = {1,2,3,4,5}
l1 = []
for i in a:
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4]

In [ ]:
gender = {'pinky' : 'Female', 'hrishi':'Male', 'puja':'Female'}
print(gender)

{'pinky': 'Female', 'hrishi': 'Male', 'puja': 'Female'}

In [ ]:
ages = {'bart':(15,12), 'lisa':13,'homer':50 }
print(ages)

{'bart': (15, 12), 'lisa': 13, 'homer': 50}

In [ ]:
names = {}
names [1] = 'Shiro'
names [2] = 'Ramnath mehta'
print(names)

{1: 'Shiro', 2: 'Ramnath mehta'}

In [ ]:
my_dict = { 'bill':7,
'rich':15 }
print(my_dict['bill'])
my_dict['bill'] = 80
print(my_dict['bill'])

7
80

• Write a method which takes as an argument a sequence of
characters (which may be a list, a tuple or a string) and returns a
dictionary in which the keys are the letters in the sequence and
the values are the occurrence count for each letter. Any nonletter should be ignored

In [22]:
def count_letters(sequence):
    aCounter = {}
    
    for letter in sequence:
        if letter not in aCounter:
            aCounter[letter] = 1
        else:
            aCounter[letter] += 1
    
    return aCounter
    
sequence =['d','e','d','e','e']

In [23]:
count_letters(sequence)

{'d': 2, 'e': 3}

• Suppose you have a dictionary containing an occurrence count
such as the one produced in exercise 1 e.g.
{ 'a':1, 'b' :2, 'c':3, 'd':4, 'e':1, 'f’:1 }


Write a function that inverts the dictionary, i.e. maps numbers to
lists of letters. For the above example the result should be
{ 1:['a','e','f'], 2:['b'], 3:['c'], 4:['d'] }

In [27]:
def icount_letters(sequence):
    aCounter = {}
    
    for key, value in sequence.items():
        if value not in aCounter:
            aCounter[value] = [key]
        else:
            aCounter[value].append(key)
    
    return aCounter

In [28]:
sequence = { 'a':1, 'b' :2, 'c':3, 'd':4, 'e':1, 'f': 1}

In [29]:
icount_letters(sequence)

{1: ['a', 'e', 'f'], 2: ['b'], 3: ['c'], 4: ['d']}

In [30]:
sequence.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 1), ('f', 1)])

Write a method which takes as an argument a sequence of
characters (which may be a list, a tuple or a string) and returns a
dictionary in which the keys are the letters in the sequence and
the values are the occurrence count for each letter. Any nonletter should be ignored

In [24]:
def count(sq):
  counter = {}
  for letter in sq:
      if letter not in counter:
        counter[letter] = 1
      else:
        counter[letter] += counter[letter]
  
  return counter

In [25]:
sq=['d','e','f','d','e','f']

In [26]:
count(sq)

{'d': 2, 'e': 2, 'f': 2}

Write a function that takes as an argument a list of numbers, and
then returns the number that occurs the most frequently (the
mode).

In [1]:
def most_frequent(numbers):
    """
    Given a list of numbers, returns the number that occurs the most frequently.
    If there are multiple numbers that occur the same number of times, returns the first one.
    """
    frequency = {}
    max_count = 0
    most_common_number = None
    for number in numbers:
        if number not in frequency:
            frequency[number] = 1
        else:
            frequency[number] += 1
        if frequency[number] > max_count:
            max_count = frequency[number]
            most_common_number = number
    return most_common_number

In [4]:
numbers = [2,4,5,2,5,2]
most_frequent(numbers)

2